.rooms-list-cont {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  width: 15%;
  max-height: 50%;

  button {
    margin-top: 1px;
  }

  ul {
    list-style-type: none;

    li {
      display: flex;
      justify-content: space-between;
    }
  }
}

.create-room-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.wrapper {
  position: relative;
  .input-label {
    position: absolute;
    left: 0;
    transition: all 0.2s ease;
    cursor: text;
  }

  input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;

    &:focus,
    &:valid {
      outline: none;
      + .input-label {
        transform: translateY(-0.8em);
        font-size: 10px;
      }
    }
  }
}
