.rooms-list-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border: 1px solid black;
  width: 15%;
  max-height: 50%;
}

.rooms-list-cont button {
  margin-top: 1px;
}

.rooms-list-cont ul {
  list-style-type: none;
}

.rooms-list-cont ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-room-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.wrapper {
  position: relative;
}

.wrapper .input-label {
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: text;
}

.wrapper input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.wrapper input:focus, .wrapper input:valid {
  outline: none;
}

.wrapper input:focus + .input-label, .wrapper input:valid + .input-label {
  -webkit-transform: translateY(-0.8em);
          transform: translateY(-0.8em);
  font-size: 10px;
}

.chat {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  height: 70%;
}

.messages-cont {
  height: 400px;
  overflow-y: scroll;
  border: 1px solid black;
  margin-bottom: 10px;
}

.messages {
  font-size: large;
  padding: 10px 0 0 10px;
}

.users-list {
  border: 1px solid black;
  width: 20%;
  max-height: 50%;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

header {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

@media (max-width: 425px) {
  #root {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    padding: 50px 0 0 0;
  }
  .menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .create-room-form {
    position: static;
  }
  .menu .create-room-form .wrapper {
    height: 2em;
  }
  .menu .create-room-form .wrapper input {
    font-size: inherit;
    height: inherit;
  }
  .menu .create-room-form button {
    font-size: inherit;
    height: 2em;
  }
  .menu .room-list {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .menu .room-list li {
    width: 100%;
    height: 3em;
    text-align: center;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .room-list li .manage-room {
    border: none;
    background: none;
    height: 100%;
  }
  .menu .room-list li .manage-room.join-room-button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .menu .room-list li .manage-room.delete-room-button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .menu .room-list li .room-image {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    margin-left: 0.5em;
    background: navy;
    color: white;
    text-align: center;
    line-height: 2.5em;
  }
  .chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: tomato;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat .exit-chat-button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .chat .messages-cont {
    border: 1px solid black;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .chat .send-message-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
  }
  .chat .send-message-form button {
    margin-top: 0.5em;
    font-size: inherit;
    height: 2em;
  }
  .chat .send-message-form input {
    font-size: inherit;
    height: 2em;
  }
  .chat nav {
    height: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat nav .go-back-button {
    font-size: inherit;
    height: 3em;
    width: 3em;
  }
  .chat nav .room-name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .chat nav .room-image {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    background: navy;
    margin: 0 0.5em;
    color: white;
    text-align: center;
    line-height: 2.5em;
  }
}
/*# sourceMappingURL=main.css.map */