.rooms-list-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border: 1px solid black;
  width: 15%;
  max-height: 50%;
}

.rooms-list-cont button {
  margin-top: 1px;
}

.rooms-list-cont ul {
  list-style-type: none;
}

.rooms-list-cont ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-room-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.wrapper {
  position: relative;
}

.wrapper .input-label {
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: text;
}

.wrapper input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.wrapper input:focus, .wrapper input:valid {
  outline: none;
}

.wrapper input:focus + .input-label, .wrapper input:valid + .input-label {
  -webkit-transform: translateY(-0.8em);
          transform: translateY(-0.8em);
  font-size: 10px;
}

.users-list {
  border: 1px solid black;
  width: 20%;
  max-height: 50%;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

header {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

@media (max-width: 425px) {
  #root {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: scroll;
  }
  .menu .room-list {
    width: 100%;
    height: 100%;
  }
  .menu .room-list li {
    width: 100%;
    height: 3em;
    text-align: center;
    border: 1px solid black;
  }
  .menu .room-list li .manage-room {
    border: none;
    background: none;
    height: 100%;
  }
  .menu .room-list li .manage-room.join-room-button {
    width: 80%;
  }
  .menu .room-list li .manage-room.delete-room-button {
    width: 20%;
  }
  .chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat .exit-chat-button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .chat .messages-cont {
    border: 1px solid black;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .chat .send-message-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-bottom: 0.5em;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */