@import "./dekstop/room";
@import "chat";
@import "./dekstop/users";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

header {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

@media (max-width: 425px) {
  #root {
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 50px 0 0 0;
  }

  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .create-room-form {
      position: static;

      .wrapper {
        height: 2em;

        input {
          font-size: inherit;
          height: inherit;
        }
      }
      button {
        font-size: inherit;
        height: 2em;
      }
    }

    .room-list {
      width: 100%;
      flex: 1;

      li {
        width: 100%;
        height: 3em;
        text-align: center;
        border: 1px solid black;
        display: flex;
        flex-flow: row;
        align-items: center;

        .manage-room {
          border: none;
          background: none;
          height: 100%;

          &.join-room-button {
            flex: 1;
          }

          &.delete-room-button {
            flex: 1;
          }
        }

        .room-image {
          border-radius: 50%;
          height: 2.5em;
          width: 2.5em;
          margin-left: 0.5em;
          background: navy;
          color: white;
          text-align: center;
          line-height: 2.5em;
        }
      }
    }
  }

  .chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: tomato;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .exit-chat-button {
      flex: 0 1 auto;
    }

    .messages-cont {
      border: 1px solid black;
      flex: 1 1 auto;
    }

    .send-message-form {
      display: flex;
      flex-flow: column;
      flex: 0 1 auto;
      width: 100%;

      button {
        margin-top: 0.5em;
        font-size: inherit;
        height: 2em;
      }

      input {
        font-size: inherit;
        height: 2em;
      }
    }

    nav {
      height: 3em;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .go-back-button {
        font-size: inherit;
        height: 3em;
        width: 3em;
      }

      .room-name {
        flex: 1;
      }

      .room-image {
        border-radius: 50%;
        height: 2.5em;
        width: 2.5em;
        background: navy;
        margin: 0 0.5em;
        color: white;
        text-align: center;
        line-height: 2.5em;
      }
    }
  }
}
