* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 15px;
}

.messages-cont {
  height: 400px;
  overflow-y: scroll;
  border: 1px solid black;
  margin-bottom: 10px;
}

.messages {
  font-size: large;
  padding: 10px 0 0 10px;
}
